@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

@font-face {
    font-family: "Booter - Zero Zero";
    src: url(/fonts/Booter\ -\ Zero\ Zero.woff) format("woff"),
         url(/fonts/Booter\ -\ Zero\ Zero.woff2) format("woff2");
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #777);
}

html, body {
    margin: 0;
    padding: 0;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 1em;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, .3);
}

.main-nav {
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 2px solid white;
}

.main-nav li {
    padding: 0 3%;
}

.main-header {
    background-color: rgba(0, 0, 0, .6);
    background-image: url(./images/Header-Background.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
    background-position: center;
}

.band-name {
    text-align: center;
    margin: 0;
    font-size: 5em;
    font-family: "Booter - Zero Zero";
    color: white;
    font-weight: normal;
}

.band-name-large {
    font-size: 5em;
}

.content-section {
    margin: 2em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-family: 'Metal Mania', cursive;
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

.about-band-image {
    float: left;
    height: 300px;
    width: 300px;
    margin: 15px;
    border-radius: 50%;
}

.main-footer {
    background-color: #56ccf2;
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
    text-align: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 .5em;
}

.footer-nav a  {
    /*font-size: 20px;*/
    color: white;
}

#profile-link {
    background-color: white;
    border-radius: 50%;
}

.fa-github-square {
    color: #171515;
    font-size: 30px;
}

.fa-twitter-square {
    color: #56ccf2;
    font-size: 30px;
}

.fa-linkedin {
    color: #0077b5;
    font-size: 30px;
}

.btn {
    text-align: center;
    vertical-align: center;
    padding: .67em;
    cursor: pointer;
}

.btn-header {
    margin: .5em 15% 2em 15%;
    color: white;
    border: 2px solid #2d9cdb;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 0;
    font-size: 1em;
    font-weight: ligther;
}

.btn-header:hover {
    background-color: rgba(255, 255, 255, .3);
}

.btn-play {
    display: block;
    margin: 0 auto;
    color: #2d9cdb;
    font-size: 1em;
    border-radius: 50%;
}

.tour-row {
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
    
}